<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Company Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<body>
<div class="jumbotron text-center">
  <h1>My Profile</h1>
  <p>It describes about my personal details and acadamics!</p>
  <img src="/assets/IMG_20170715_001833_172.jpg" class="img-circle" alt="Me" width="350" height="350" />
  </div>
  <div class="container">
  <div class="row">
       <div class="col-sm-4">
      <h1 class="text-success"><strong>Software Developer</strong></h1>
      <h3 class="text-success"><strong>Personal details</strong></h3>
         <h5>Name</h5>
          <p>Gopi krishna Nayini</p>
        <h5>Date of Birth</h5>
          <p>27th September 1994</p>
        <h5>Permanent Address</h5>
          <p>H.no: #3-118/4, Rajnagar,Nandipet,Nizamabad. Telangana 503212.</p>
        <h5>Phone</h5>
          <p>Hyderabad-no : 09492253764</p>
        <h5>Email</h5>
          <p>nayinigopi93@gmail.com</p>
        <h2>//Social</h2>
        <p>
         <a href="https://www.facebook.com/gopikrishna2679" target="blank"><img src="/assets/facebook.png"/></a>
        </p>
    </div>
     <div class="col-md-4">
  <h4 class="text-success"><strong>Career Objective</strong></h4>
    <p>To obtain a challenging position that allows me to utilize my current skills to assist in advancing a business that offers a stable employment opportunity. I am also eager to learn new skills and business and technological advancements.</p><br>
  <h4 class="text-success"><strong>Education</strong></h4>
    <p><b>B.Tech</b> from <b>Hyderabad Institute of Technology and Management</p></br>
  </div>

    <div class="col-sm-8">
      <h3 class="text-success"><strong>Education details</strong></h3>
      <style>
      .container-fluid {
       padding-top: 70px;
       padding-bottom: 70px;
       }
      table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      }
      th, td {
      padding: 5px;
      text-align: left;
      }
      table#t01 {
      width: 100%;    
      background-color: #f1f1c1;
      }
      </style>
      <table style="width:100%">
      <tr>
      <th>Education</th>
      <th>Institute Name</th>
      <th>Aggregate</th>
      <th>Location</th>
      </tr>
      <tr>
      <td>B.Tech</td>
      <td>Hyderabad Institute of Technology & Management</td>
      <td>62.5%</td>
      <th>Hyderabad</th>

      </tr>
      <tr>
      <td>Intermediate(M.P.C)</td>
      <td>Sri Kakatiya Junior College</td>
      <td>90.8%</td>
      <td><b>Nizamabad</b></td>
      </tr>
      <tr>
      <td>S.S.C</td>
      <td>Sri Suryodaya High School</td>
      <td>82.8%</td>
      <td><b>Nandipet</b></td>
      </tr>
      </table>
    </div>
  </style>
  </div>
  </div>
   <div class="container-fluid text-center">
  <h2>Technical Proficiency</h2>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <h4 class="text-success">RUBY ON RAILS</h4>
    </div>
    <div class="col-sm-4">
      <h4 class="text-success">HTML</h4>
    </div>
    <div class="col-sm-4">
      <h4 class="text-success">GIT</h4>
    </div>
  <div class="row">
    <div class="col-sm-4">
      <h4 class="text-success">CSS</h4>
    </div>
    <div class="col-sm-4">
     <h4 class="text-success">GITHUB</h4>
    </div>
    <div class="col-sm-4">
      <h4 class="text-success">BOOTSTRAP</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
     <h4 class="text-success">AWS</h4>
    </div>
    <div class="col-sm-4">
      <h4 class="text-success">HEROKU</h4>
    </div>
    <div class="col-sm-4">
      <h4 class="text-success">SVN</h4>
    </div>
  </div>
</div>
  <div class="container text-center">
  <h2>Operating Systems</h2>
  <br>
  <div class="row">
    <div class="col-xs-5">
      <h4 class="text-success">UBUNTU</h4>
    </div>
    <div class="col-xs-5">
      <h4 class="text-success">WINDOWS7,8</h4>
    </div>
  </div>
</div>
<div class="container-fluid text-center">
  <h2 class="success">Projects</h2>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <li><h4 class="text-success">Role Based Security System.</h4></li>
      </div>
      <div class="col-sm-4">
       <li><h4 class="text-success">HOBNOB Mobile Application</h4></li>
      </div>
    </div>
  <div class="container-fluid text-center">
  <h2 class="success">My Strength</h2>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <li><h4 class="text-success">I am a Hard working person.</h4></li>
    </div>
    <div class="col-sm-4">
     <li><h4 class="text-success">I can make the best of my work.</h4></li>
    </div>
    <div class="col-sm-4">
      <li><h4 class="text-success">Helping nature.</h4></li>
    </div>
    </div>
    <br><br>
  <div class="row">
    <div class="col-sm-4">
      <li><h4 class="text-success">Friendly nature.</h4></li>
    </div>
    <div class="col-sm-4">
     <li><h4 class="text-success">Patience.</h4></li>
    </div>
     <div class="col-sm-4">
     <li><h4 class="text-success">Flexibility.</h4></li>
    </div>
  </div>
</div>
  <div class="container text-center">
  <h2>Achievements</h2>
  <br>
    <div class="row">
    <div class="col-sm-4">
      <li><h4>Got First in <mark>POSTER PRESENTATION</mark> at HITAM ESPARTO2K13.</h4></li>
    </div>
     <div class="col-sm-4">
      <li><h4>Organised <mark>CRICKET Tournament</mark> in college level.</h4></li>
    </div>

      <div class="container-fluid text-center">
       <h2 class="success">Personal Information</h2>
        <table class="table">
        <tr class="success">
          <td><b>Nationality </b></td>
          <td>Indian</td>
        </tr>
         <tr class="success">
          <td><b>Gender</b></td>
          <td>Male</td>
        </tr>
         <tr class="success">
          <td><b>Marital Status</b></td>
          <td>Single</td>
        </tr>
         <tr class="success">
          <td><b>Hobbies</b> </td>
          <td>Singing, Dancing, Playing Cricket & Travelling </td>
        </tr>
        </tr>
         <tr class="success">
          <td><b>Languages known</b></td>
          <td>English, Telugu , Hindi</td>
        </tr>
      </table><br>
    </div>
  </div>
  </div>